{%extends 'index.html'%}
{%block title%}Blitzz | Posts {%endblock%}

{%block body_block%}
{%load static%}
<nav class=" navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <h2><a class="navbar-brand" href="{%url 'index'%}">BLITZZ</a></h2>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-5">
                    <a class=" nav-link" href="{%url 'index'%}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link active" href="{%url 'posts'%}">Posts</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="{%url 'my_blogs' %}">My Blogs</a>
                </li>
            </ul>

            {%if user.is_login %}
            <form class="form-inline my-2 my-lg-0" action='{%url "user_logout" %}'>
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>

            </form>
            {%else%}
            <form class="form-inline my-2 my-lg-0" action='{%url "user_login" %}'>
                <button class="btn btn-success my-2 my-sm-0" type="submit">Sign In</button>
            </form>
            {%endif%}
        </div>
    </div>
</nav>
<img src="{%static 'blog.jpg'%}" class='blog-img'>
<div class="container mb-5" id='container'>
    <h1 class="mt-5 display-4">List of all the blogs:</h1>
    <form action="" method="POST" autocomplete="off">
        {%csrf_token%}
        <label for="search" style='font-size:x-large'><b>Search for blogs:</b></label>
        <input type="text" id='search' class="form-control" name='search' placeholder='Search by title or hashtag'>
        <input type="submit" value="Search" class='btn btn-danger mt-2' style='margin-left:46%'>
    </form>
    {%if search_flag%}
    <h3>Search results:</h3>
    {%endif%}
    {%if posts%}
    {%for post in posts%}
    <div class="container mt-5 border border-info p-5 text-center">
        <h1>Title:{{post.title}}</h1>
        <h2>Author:{{post.author|capfirst}}</h2>
        <h5>Qualification:{{post.author.qualification}}</h5>
        <h5>Hashtags:{{post.hashtag}}</h5>
        <h5>Publication date:{{post.published_date}}</h5>
        <a href="{%url 'single_blog' post.id 0%}" class='btn btn-outline-dark mt-4'>See more</a>
    </div>
    {%endfor%}
    {%else%}
    <h1>No blogs found based on your search request</h1>
    {%endif%}
</div>
{%endblock%}